h1{
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
  color: orange;
  
}
a:link{
  color: white;
}
a:hover{
  color: red;
  background-color: cornflowerblue
}
body{
  background-image:url(pitch.jpg)
}
p{
  color:ghostwhite
}
div{
  text-align: center;
  word-spacing: 60px;
  font-size: 20px
}
img{
  width: 200px
}
@media only screen and (max-width : 320px) {
	
body
	

}
