h1{
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
  color: orange;
  
}
a:link{
  color: white;
}
a:hover{
  color: red;
  background-color: cornflowerblue
}
body{
  background-image:url(pitch.jpg);
}
p{
  color:ghostwhite;
}
div{
  text-align: center;
  word-spacing: 60px;
  font-size: 20px;
}
img{
  width: 200px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }
  div {
    word-spacing: 15px;
    font-size: 10px;
  }
  img {
    width: 100px;
  }
}

